{% extends "layout.njk" %}
{% block  content %}
<main>
  <h1>{{message}}</h1>
  <p>Han heter Metso och är 75% finsk spets och 25% gråhund på ca 5 år.</p>
  <img src="images/doggo.jpg" alt="doggo">
  <h6>*Insert more pics later</h6>
</main>
{% endblock %}
