{% extends "layout.njk" %}
{% block  content %}
<main>
  <h1>{{message}}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima iste aliquid neque qui ut veritatis autem nulla culpa nobis! Enim eligendi vel commodi perferendis est quaerat exercitationem ipsam esse.</p>
  <img src="images/doggo.jpg" alt="doggo">
</main>
{% endblock %}
