<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/">About</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">test</a>
        </li>
    </ul>
</nav>